*{
    margin: 0; 
    padding: 0;
}

html{
    height: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

body {
  font-size: 1.2rem;
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  background-image: url(https://institutpaulbocuse.usil.edu.pe/hubfs/USIL%20-%20Institut%20Paul%20Bocuse/Blog/Julio%202019/Que-diferencia-la-panaderia-de-la-pasteleria.jpg);

  color:#FFF;
}

  .grid-container {
    display:grid;
    gap: 0;
    grid-template:
      "header"  100px
      "navbar"  100px
      "main"    auto
      "sidebar" 100px
      "footer"  100px;
  }

  .header {
    grid-area: header;
    background-color: #87f5ea;
  }

  .header *{
    display: inline-block;
  }

  .main section *{
    color: #4e79cf;
    padding: 5px;
  }

  .navbar {
    grid-area: navbar;
    background-color: #6bd5ed;
  }

  .navigation{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    line-height: 2.5rem;
    
  }
  
  .navigation a:hover {
    background-color: rgb(79, 157, 209);
    color: white;
  }

  .navigation div:hover {
    background-color: rgb(79, 157, 209);
    color: white;
  }

  .navigation a:link {
    background-color: none;
    color: none;
  }

  .navigation a:visited {
    background-color: none;
    color: none;
  }

  .recipes {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3a98ba;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    margin: 0;
    padding: 6px 8px;
    text-decoration: none;
    font-size: medium;
    line-height: 2rem;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: rgb(79, 157, 209);
  }
  .recipes:hover .dropdown-content {
    display: block;
  }
  


  .main {
    grid-area: main;
    
  }
  
  .recipesMain * {
    width: 90%;
    max-width: 750px;
    margin: 20px auto;
  }

  .recipesMain img{
    width: 28rem;
    height: 15rem;
    margin: 0 auto;
  }
  
  .recipesMain section{
    background-color: #e3fffe;
  }

  .footer {
    grid-area: footer;
    background-color: none;
    text-align:center;
    position: sticky;
  }

#footer #button{
	width:35px;
	height:35px;
	border: #87f5ea 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
    transition: all 1s ease;
}

#footer #button:hover{
	width:35px;
	height:35px;
	border: #87f5ea 12px solid;
    transition: all 1s ease;
	position:relative;
}

#footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
    transition: all 1s ease;
	z-index:2;
}
#footer:hover {
    transition: all 1s ease;
	height: 10em;
}

#footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #87f5ea;
}

#footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}

#footer_center{
	width:500px;
	float:left;
  text-align:center;
}

#footer h2 {
	font-family: 'Helvetica';
	font-size: 40px;
	font-weight: 200;
	margin-top:70px;
	margin-left:40px;
}

  @media(max-width:600px) {
    .grid-container {
      grid-template-columns: 130px auto;
      grid-template-rows: 130px auto auto 100px;
      grid-template-areas:
      "header header"
      "navbar navbar"
      "main main"
      "footer footer";
    }
  }

  @media(min-width:600px) {
    .grid-container {
      grid-template:
      "header header header" 130px
      "navbar main main"  auto
      "footer footer footer" 100px / 
      130px auto 200px;
    }
  }

  @media(min-width:900px) {
    .grid-container {
      grid-template:
      "header header header" 130px
      "navbar main main" auto
      "footer footer footer" 100px / 
      130px auto 200px;
    }
  }
  